$laptop_s: "max-width: 1024px";
$tablet_l: "max-width: 820px";
$tablet_m: "max-width: 700px";
$tablet_s: "max-width: 600px";
$mobile: "max-width: 425px";
$mobile_m: "max-width: 375px";
$mobile_s: "max-width: 320px";
$mobile_fold: "max-width: 300px";
